.rolunk {
    img {
        
        width: 300px;   

    }
    h2 {
        font-weight: 600;

    }
    
}

body {
    background: linear-gradient(to bottom, white 70%,  rgb(30, 97, 99) );

    background-attachment: fixed;
}
.navbar-bg {
    background-color:  rgb(30, 97, 99);
}
